#alan {
  /* background-image: url('../images/alan.jpg'); */
  background-size: 300px 300px;
  height: 300px;
  width: 300px;
  border-radius: 5px;
  margin:auto;
  position:relative;
}

#brandon {
  /* background-image: url('../images/brandon.jpg'); */
  background-size: 300px 300px;
  height: 300px;
  width: 300px;
  border-radius: 5px;
  margin:auto;
  position:relative;
}

#brendan {
  /* background-image: url('../images/brendan.png'); */
  background-size: 300px 300px;
  height: 300px;
  width: 300px;
  border-radius: 5px;
  margin: auto;
}

#josh {
  /* background-image: url('../images/josh.jpg'); */
  background-size: 300px;
  background-position-y: center;
  height: 300px;
  width: 300px;
  border-radius: 5px;
  margin:auto;  
}

main {
  border: 1px solid;
  background-color: rgb(223, 223, 223);
}

header {
  /* background-image: url('../images/hiking_banner3.jpg'); */
}

section {
  display: grid;
  grid-template-columns:25% 25% 25% 25%;
  justify-content: center;
  padding: 2em;
  min-width: 100em;
}

h2 {
  display: block;
  background-color: #3f4e22;
  margin-top: 0;
  text-align: center;
  color: white;
  padding: 0.25em;
  border: 1px solid black;
}

.title {
  text-align: center;
}

article {
  align-content: center;
  padding: 2em;
}

h3 {
  text-align: center;
}