header {
  background-image: url('../images/hiking_banner2.jpg');
}

#recreationHeader {
  padding-left: 2em;
  padding-right: 2em;
}

#ratingHeader {
  padding-left: 3em;
  padding-right: 3em;
}

button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  padding: 0.5em;
}

#comments {
  min-width: 75%;
  max-width: fit-content;
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-height: 5em;
  margin-top: 1em;
}

form {
  display: block;
  text-align: center;
  align-items: center;
  border: black 1px solid;
  margin-right: 15%;
  margin-left: 15%;
  background-color: rgb(223, 223, 223);
}

select {
  padding: 0.25em;
  max-width: 25%;
}

#stateSelection {
  margin-right: 2em;
}

#recArea {
  margin-right: 2em;
}

#form_row_1 {
  margin: 1em;
}

#form_row_2 {
  margin-top: 2em;
}

#form_row_3 {
  margin: 1em;
}

h3 {
  display: block;
  background-color: #3f4e22;
  color: white;
  margin-top: 0;
  padding: 0.5em;
  border-bottom: black 1px solid;
}