body {
  background-color: whitesmoke;
  margin: 0;
  font-family: "Arial", "sans-serif";
}

main {
  margin: 3em;
}

header {
  background-size: cover;
  background-repeat: no-repeat;
  color: whitesmoke;
  margin-bottom: 4em;
}

h1 {
  text-align: center;
  filter: drop-shadow(2px 2px 1px #000000);
  padding-top: 1.5em;
  margin-bottom: 1.5em;
  margin-top: 0;
  font-family: "Cambria", "serif";
}

ul {
  list-style-type: none;
  text-decoration: none;
  margin-left: 25%;
  margin-right: 25%;
  padding-bottom: 1em;
  display: flex;
  justify-content: space-around;
  font-weight: bold;
}

.navLink {
  text-decoration: none;
  color: whitesmoke;
  filter: drop-shadow(2px 2px 1px #000000);
}

footer {
  width: 100%;
  text-align: center;
  clear: both;
}

footer a {
  padding-bottom: 2em;
}

table {
  margin-bottom: 2em;
}

table, th, td {
  border: black 1px solid;
  border-collapse: collapse;
  padding: 0.5em;
}

th {
  background-color: #3f4e22;
  color: white;
}

tbody tr:nth-child(odd) {
  background-color: rgb(223, 223, 223);
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

